/* Mikhail Nikipelov — http://desir.me/ */

@import url(bootstrap.min.css);
@import url(reset.css);
@import url(animations.css);

@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400italic|Roboto+Condensed:700,400&subset=latin,cyrillic);

/* basics */

/*
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

input,
select,
textarea,
button {
  vertical-align: top;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea {
  overflow: auto;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
:-moz-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}

body {
	font: 400 18px/30px 'Roboto Condensed', sans-serif;
	color: #424242;
    text-rendering: optimizeLegibility;
    padding: 20px;
}
a:focus, img:focus, select:focus, input:focus, textarea:focus, checkbox:focus {
    outline: inherit;
}

a {
    color: #0062a6;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    a:hover {
        color: #c00;
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    a:focus {
        text-decoration: none;
    }

p {
    margin: 0 0 25px 0;
}

img {
    width: 100%;
    height: auto;
}



/* buttons */

.btn {
    display: inline-block;
    background: #95e42e;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    font-size: 21px;
}
    .btn:hover {
        background: #70c600;
        color: #fff;
        text-decoration: none;
    }
    .btn:active {
        background: #4c8402;
        text-decoration: none;
    }
    .btn:focus {
        color: #fff;
    }

.btn.orange {
    background: #e36000;
}
    .btn.orange:hover {
        background: #cc4f00;
    }
    .btn.orange:active {
        background: #bc3a00;
    }

.btn.mint {
    background: #00c373;
}
    .btn.mint:hover {
        background: #00834d;
    }
    .btn.mint:active {
        background: #00623a;
    }

.minimize {
    letter-spacing: -2px;
}

.separator {
    height: 1px;
    background-color: #dbdbdb;
}



/* headers */

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}



/* vertical middle */

.table {
    display: table;
    width: 100%;
}
    .tablecell {
        display: table-cell;
        vertical-align: middle;
        height: 600px;
    }


/* header */

.header {
    position: relative;
    
    background-color: #1b9468;
    color: #fff;
    text-align: center;
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .header .table {
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: center center;
    }
        .header .tablecell {
            background-color: rgba(27, 148, 104, 0.7);
        }

    .header h1, .header h2 {
        line-height: 1em;
    }

    .header h1 {
        font-size: 3.3em;
        text-transform: uppercase;
    }

    .header h2 {
        font-weight: 400;
        font-family: 'Noto Serif', serif;
        font-style: italic;
        margin: 20px 0 50px 0;
    }

    .header a {
        display: inline-block;
        color: #fff;
    }

        .header .icon {
            padding: 100px 0 0 0;
            min-width: 80px;
        }
            .header .engineering {
                background: url(../img/engineering.png) center top no-repeat;
                background-size: 80px 80px;
            }
            .header .design {
                background: url(../img/design.png) center top no-repeat;
                background-size: 80px 80px;
            }
            .header .development {
                background: url(../img/development.png) center top no-repeat;
                background-size: 80px 80px;
            }
            .header .support {
                background: url(../img/support.png) center top no-repeat;
                background-size: 80px 80px;
            }

    .header .btn.start {
        background: transparent;
        border: 2px solid #fff;
        font-size: 1.3em;
        color: #fff;
        padding: 8px 40px;
        margin: 60px 0 0 0;
    }
        .header .btn:hover {
            background: #fff;
            color: #018f53;
        }
        .header .btn:active {
            border: 2px solid #b8ffe5;
            background: #b8ffe5;
        }

    .header .logo {
        position: absolute;
        display: block;
        width: 189px;
        height: 40px;
        background-image: url(../img/logo-white.png);
        background-size: 189px 40px;
        text-indent: -314em;
        top: 40px;
        left: 40px;
    }

    .header a[href*="tel:"] {
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 40px;
        right: 40px;
        background-color: #95e42e;
        background-image: url(../img/tel.png);
        background-size: 22px 22px;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: -10em;
        padding-left: 0;
        overflow: hidden;
        padding-right: 15px;
        cursor: default;
        width: 46px;
        z-index: 1;
    }
        .header a[href*="tel:"]:hover {
            background-color: #78d006;
            background-image: url(../img/tel.png);
            background-size: 22px 22px;
            background-position: 12px center;
            background-repeat: no-repeat;
            padding-left: 40px;
            text-indent: 0;
            width: 200px;
            color: #fff;
        }
        .header a[href*="tel:"]:active {
            background-color: #63af00;
            border: 0;
        }

    .header a[href*="mailto:"] {
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 100px;
        right: 40px;
        background-color: #59d2ff;
        background-image: url(../img/email.png);
        background-size: 24px 18px;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: -10em;
        padding-left: 0;
        overflow: hidden;
        padding-right: 15px;
        width: 46px;
        z-index: 1;
    }
        .header a[href*="mailto:"]:hover {
            background-color: #27c5ff;
            background-image: url(../img/email.png);
            background-size: 24px 18px;
            background-position: 12px center;
            background-repeat: no-repeat;
            padding-left: 40px;
            text-indent: 0;
            width: 240px;
            color: #fff;
        }
        .header a[href*="mailto:"]:active {
            background-color: #009ad3;
            border: 0;
        }

    .header .nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
        .header .nav li {
            display: inline-block;
        }
            .header .nav li a {
                padding: 20px;
            }
                .header .nav li a:hover {
                    background-color: rgba(255, 255, 255, .2);
                }

    .header .nav.fixed {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: inherit;
        background-color: rgba(255, 255, 255, .9);
    }
        .header .nav.fixed li a {
            color: #424242;
        }
            .header .nav.fixed li a:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: #fff;
            }

    .header .nav li a.close {
        overflow: hidden;
        width: 0;
        padding: 0;
    }

    .header .menu-toggle {
        overflow: hidden;
        display: block;
        width: 0;
        height: 0;
        padding: 0;
    }



/* content */

.content {
    position: relative;
}

.what-we-do {
    margin: 120px 0;
}
    .what-we-do .projects {
        margin: -30px 0 0 0;
    }
    .what-we-do .hardware {
        width: 90%;
    }
    .what-we-do .separator {
        margin: 130px 0 45px 0;
    }

.projects {

}
    .projects .container-fluid {
        padding: 0;
    }
        .slider {
            background-color: #000;
            position: relative;
        }
            .slider .slide {
                
            }
                .slider .slide .img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                }
                .slider .slide .description {
                    position: absolute;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(34, 34, 34, 0.9);
                    opacity: 0;
                    -webkit-transition: opacity 0.2s ease;
                    -moz-transition: opacity 0.2s ease;
                    -ms-transition: opacity 0.2s ease;
                    -o-transition: opacity 0.2s ease;
                    transition: opacity 0.2s ease;
                }
                    .slider .slide .description:hover {
                        opacity: 1;
                    }
                    .slider .slide .description .container {
                        position: relative;
                        height: 100%;
                        }
                        .slider .slide .description .container [class*=col] {
                            position: absolute;
                            bottom: 0;
                        }
                        .slider .slide .description .text {
                            margin: 0 0 80px 0;
                            }
                            .slider .slide .description .text h3 {
                                font-size: 2em;
                                margin: 0 0 20px 0;
                            }
                            .slider .slide .description .text .link {
                                display: inline-block;
                                margin: 0 0 0 5px;
                                width: 20px;
                                height: 20px;
                                background-image: url(../img/link.png);
                                background-size: cover;
                                opacity: 1;
                            }
                                .slider .slide .description .text .link:hover {
                                    opacity: .5;
                                }

.process {
    margin: 90px 0;
}
    .process img {
        width: 70%;
        margin: 0 0 0 15%;
    }
        .process img.target {
            width: 80%;
            margin: 0 0 0 10%;
        }
    .process .separator {
        margin: 40px 0 0 0;
        }
    .process .text {
        text-align: center;
        width: 90%;
        margin: 30px auto 0 auto;
    }



/* footer */

.footer {
    position: relative;
}



/* fixes */

.gecko {
}

.opera {
}

.mobile {
}



/* media */

@media only screen and (max-width: 1199px) {
    
    .what-we-do {
        margin: 90px 0;
    }
        .what-we-do .separator {
            margin: 60px 0 45px 0;
        }

}

@media only screen and (max-width: 991px) {
    body {
        font-size: 16px;
        padding: 0;
    }
    
    .header h1 {
        font-size: 2.5em;
        margin: 180px 0 0 0;
    }
    
    .header h2 {
        margin: 20px 0 30px 0;
    }
    
    .header .logo {
        top: 40px;
        left: 50%;
        margin: 0 0 0 -90px;
    }
    
    .header a[href*="tel:"] {
        top: 100px;
        left: 50%;
        margin: 0 0 0 -59px;
        z-index: 2;
    }
    .header a[href*="mailto:"] {
        top: 100px;
        left: 50%;
        margin: 0 0 0 13px;
    }
        .header a[href*="tel:"]:hover, .header a[href*="mailto:"]:hover {
            width: 46px;
            text-indent: -20em;
            padding-left: 0;
            background-position: center center;
        }
    
    .header .icon {
        padding: 80px 0 20px 0;
    }
    
    .header .btn.start {
        margin: 0 0 100px 0;
    }
    
    .what-we-do {
        margin: 40px 0 0 0;
    }
        .what-we-do .projects {
            margin: 0;
        }
        .what-we-do .hardware {
            margin: 0 0 30px 0;
        }
  
    .projects .container-fluid .row {
        margin-right: 0;
    }    
        .projects .container-fluid .row .col-md-12 {
            padding-right: 0;
        }
    
}

@media only screen and (max-width: 767px) {
    
    .header a[href*="tel:"] {
        margin: 0 0 0 -99px;
    }
    .header a[href*="mailto:"] {
        margin: 0 0 0 53px;
    }
    
    .header .nav {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        bottom: inherit;
        left: 0;
        height: 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0);
        z-index: 3;
    }
        .header .nav li {
            display: block;
        }
            .header .nav li a {
                padding: 3px 15px;
                color: #424242;
                border-radius: 30px;
            }
                .header .nav li a:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                    color: #fff;
                }
    
                .header .nav li a.close {
                    background-color: #424242;
                    color: #fff;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    font-size: 1.5em;
                    padding: 8px 0;
                    margin: 100px 0 10px 0;
                }
                    .header .nav li a.close:hover {
                        background-color: #2e2e2e;
                    }
                    .header .nav li a.close:active {
                        background-color: #1a1a1a;
                    }
    
    .header .nav.open {
        bottom: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, .9);
    }
    
    .header .menu-toggle {
        width: 46px;
        height: 46px;
        background-color: #fff;
        color: #424242;
        border-radius: 50%;
        position: absolute;
        top: 100px;
        left: 50%;
        margin: 0 0 0 -23px;
        font-size: 2.5em;
        padding: 8px 0 0 0;
    }
        .header .menu-toggle:before {
            display: block;
            content: "";
            width: 17px;
            height: 3px;
            position: absolute;
            left: 14px;
            top: 15px;
            background-color: #424242;
        }
        .header .menu-toggle:after {
            display: block;
            content: "";
            width: 17px;
            height: 3px;
            position: absolute;
            left: 14px;
            top: 27px;
            background-color: #424242;
        }
        
    .header .btn.start {
        margin: 0 0 30px 0;
    }
    
    .what-we-do {
        margin: 40px 0 0 0;
    }
        .what-we-do .projects {
            margin: 30px 0 0 0;
        }
        .what-we-do .hardware {
            width: 100%;
        }
    
    .owl-theme .owl-controls .owl-buttons {
        display: none;
    }
    
    .slider .slide .description .text {
        margin: 0;
    }
    
    .process {
        margin: 40px 0;
    }

}